In [2]:
import pandas as pd
import numpy as np

from apyori import apriori
from mlxtend.frequent_patterns import association_rules

In [3]:
carts_df = pd.read_pickle("../../data/tesco/tesco_carts.pickle")
inventory_df = pd.read_csv("../../data/tesco/tesco_inventory_clean.csv")

In [3]:
carts = carts_df["cart"].tolist()

# Triplets

    I chose min_support=0.001, meaning the set must occur at least 0.1% of the time, this was a rough guess of how often triplets occur in the data. 
    I chose min_confidence=0.5 to filter out sets that occur together by chance and to return mostly triplets. 
    I chose min_lift=5 as the marketing department is interested in strong associations.

In [5]:
association_rules = apriori(carts, min_support=0.001, min_confidence=0.5, min_lift=5)
association_rules = list(association_rules)

In [6]:
association_rules

[RelationRecord(items=frozenset({50501610, 50502269}), support=0.00189411050410001, ordered_statistics=[OrderedStatistic(items_base=frozenset({50501610}), items_add=frozenset({50502269}), confidence=0.5247680728163837, lift=5.917749115988009)]),
 RelationRecord(items=frozenset({50623419, 50502269}), support=0.0016116997651631506, ordered_statistics=[OrderedStatistic(items_base=frozenset({50623419}), items_add=frozenset({50502269}), confidence=0.5310158201498751, lift=5.988204243071593)]),
 RelationRecord(items=frozenset({50502436, 50502269, 50652534}), support=0.0038084383317928154, ordered_statistics=[OrderedStatistic(items_base=frozenset({50502269, 50652534}), items_add=frozenset({50502436}), confidence=0.538022134951803, lift=9.873986587325048)]),
 RelationRecord(items=frozenset({50503441, 50502436, 50652534}), support=0.002493048715536571, ordered_statistics=[OrderedStatistic(items_base=frozenset({50503441, 50652534}), items_add=frozenset({50502436}), confidence=0.5772381509654768, lift=10.593693809337442)]),
 RelationRecord(items=frozenset({50550228, 50502436, 50652534}), support=0.0013754097956723554, ordered_statistics=[OrderedStatistic(items_base=frozenset({50550228, 50652534}), items_add=frozenset({50502436}), confidence=0.5545084055017829, lift=10.176548886736942)]),
 RelationRecord(items=frozenset({50689433, 50502436, 50652534}), support=0.0023610043208211265, ordered_statistics=[OrderedStatistic(items_base=frozenset({50689433, 50652534}), items_add=frozenset({50502436}), confidence=0.625753516409913, lift=11.484066224443465)]),
 RelationRecord(items=frozenset({54550913, 50502436, 50652534}), support=0.001204826127858145, ordered_statistics=[OrderedStatistic(items_base=frozenset({54550913, 50652534}), items_add=frozenset({50502436}), confidence=0.5406861355259427, lift=9.922877337777235)]),
 RelationRecord(items=frozenset({54550994, 50502436, 50652534}), support=0.001817031957902478, ordered_statistics=[OrderedStatistic(items_base=frozenset({54550994, 50652534}), items_add=frozenset({50502436}), confidence=0.5549980702431494, lift=10.185535400068725)]),
 RelationRecord(items=frozenset({62816594, 50502436, 50652534}), support=0.0017829152243396358, ordered_statistics=[OrderedStatistic(items_base=frozenset({62816594, 50652534}), items_add=frozenset({50502436}), confidence=0.5446824937270797, lift=9.996220021493599)]),
 RelationRecord(items=frozenset({75341714, 50502436, 50652534}), support=0.0016047500601781273, ordered_statistics=[OrderedStatistic(items_base=frozenset({75341714, 50652534}), items_add=frozenset({50502436}), confidence=0.5911100767977658, lift=10.84827666143638)]),
 RelationRecord(items=frozenset({50502436, 50652534, 77454543}), support=0.0018100822529174545, ordered_statistics=[OrderedStatistic(items_base=frozenset({50652534, 77454543}), items_add=frozenset({50502436}), confidence=0.6220147633521493, lift=11.415451208169115)]),
 RelationRecord(items=frozenset({50689433, 50502436, 77454543}), support=0.0015649472043548114, ordered_statistics=[OrderedStatistic(items_base=frozenset({50689433, 77454543}), items_add=frozenset({50502436}), confidence=0.5133678756476684, lift=9.42152225570184)]),
 RelationRecord(items=frozenset({75341714, 50502436, 77454543}), support=0.0010424557477535078, ordered_statistics=[OrderedStatistic(items_base=frozenset({75341714, 77454543}), items_add=frozenset({50502436}), confidence=0.5293551491819056, lift=9.714926772337751)])]

In [7]:
association_sets = []
for sets in association_rules:
    cur_set = list(sets[0])
    if len(cur_set) > 2:
        items = [inventory_df.loc[inventory_df['product_id'] == val]["description"].values[0] for val in cur_set]
        print(items)
        print()

['Tesco Whole Cucumber Each', 'Tesco Bananas Loose', 'Tesco Iceberg Lettuce Each']

['Tesco White Potatoes 2.5Kg', 'Tesco Whole Cucumber Each', 'Tesco Iceberg Lettuce Each']

['Tesco Cauliflower Each', 'Tesco Whole Cucumber Each', 'Tesco Iceberg Lettuce Each']

['Tesco Mixed Peppers 3 Pack', 'Tesco Whole Cucumber Each', 'Tesco Iceberg Lettuce Each']

['Tesco British Whole Milk 2.272L/4 Pints', 'Tesco Whole Cucumber Each', 'Tesco Iceberg Lettuce Each']

['Tesco British Semi Skimmed Milk 2.272Ltr 4 Pints', 'Tesco Whole Cucumber Each', 'Tesco Iceberg Lettuce Each']

['Tesco Broccoli 335G', 'Tesco Whole Cucumber Each', 'Tesco Iceberg Lettuce Each']

['Tesco Bunched Spring Onions 100G', 'Tesco Whole Cucumber Each', 'Tesco Iceberg Lettuce Each']

['Tesco Whole Cucumber Each', 'Tesco Iceberg Lettuce Each', 'Tesco Cherry Tomatoes 330G']

['Tesco Mixed Peppers 3 Pack', 'Tesco Whole Cucumber Each', 'Tesco Cherry Tomatoes 330G']

['Tesco Bunched Spring Onions 100G', 'Tesco Whole Cucumber Each', 'Tesco Cherry Tomatoes 330G']

# Pairs

    I choose min_support=0.01 as the marketing department is interested in sets occurring at least 1% of the time. 
    I choose min_lift=2 to filter out sets of len=1, i.e. standalone purchases.

In [ ]:
frequent_itemsets = apriori(carts, min_support=0.01, min_lift=2)
frequent_itemsets  = list(frequent_itemsets)

In [12]:
frequent_itemsets

[RelationRecord(items=frozenset({50502436, 50502269}), support=0.01637540031880192, ordered_statistics=[OrderedStatistic(items_base=frozenset({50502269}), items_add=frozenset({50502436}), confidence=0.18466350332720616, lift=3.3890147571430838), OrderedStatistic(items_base=frozenset({50502436}), items_add=frozenset({50502269}), confidence=0.30052756681546755, lift=3.3890147571430833)]),
 RelationRecord(items=frozenset({50502436, 50652534}), support=0.01153777385786337, ordered_statistics=[OrderedStatistic(items_base=frozenset({50502436}), items_add=frozenset({50652534}), confidence=0.21174560844106904, lift=8.542365315444068), OrderedStatistic(items_base=frozenset({50652534}), items_add=frozenset({50502436}), confidence=0.46546362848549727, lift=8.542365315444068)])]

#### 1st frequent pair

In [13]:
inventory_df.loc[inventory_df['product_id'] == 50502436]

,product_id,category,description,ingredients,energy,fat,saturates,salt,sugars,protein,carbohydrate,fibre,avg_price
186,50502436,fruit_veg,Tesco Whole Cucumber Each,no_ingredients,11.0,0.1,0.1,0.01,1.4,0.7,1.5,0.6,0.74

In [14]:
inventory_df.loc[inventory_df['product_id'] == 50502269]

,product_id,category,description,ingredients,energy,fat,saturates,salt,sugars,protein,carbohydrate,fibre,avg_price
8197,50502269,fruit_veg,Tesco Bananas Loose,no_ingredients,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.155263

#### 2nd frequent pair

In [15]:
inventory_df.loc[inventory_df['product_id'] == 50502436]

,product_id,category,description,ingredients,energy,fat,saturates,salt,sugars,protein,carbohydrate,fibre,avg_price
186,50502436,fruit_veg,Tesco Whole Cucumber Each,no_ingredients,11.0,0.1,0.1,0.01,1.4,0.7,1.5,0.6,0.74

In [16]:
inventory_df.loc[inventory_df['product_id'] == 50652534]

,product_id,category,description,ingredients,energy,fat,saturates,salt,sugars,protein,carbohydrate,fibre,avg_price
2793,50652534,fruit_veg,Tesco Iceberg Lettuce Each,no_ingredients,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.99